enableRbac: true
ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
    external-dns.alpha.kubernetes.io/target: "8.44.158.127"
  hosts:
    - host: homepage.nickknows.net
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: homepage-tls
      hosts:
        - homepage.nickknows.net
env:
  - name: HOMEPAGE_ALLOWED_HOSTS
    value: "homepage.nickknows.net"
volumeMounts:
  - name: homepage-config
    mountPath: /app/config/services.yaml
    subPath: services.yaml
  - name: homepage-config
    mountPath: /app/config/kubernetes.yaml
    subPath: kubernetes.yaml
  - name: homepage-config
    mountPath: /app/config/widgets.yaml
    subPath: widgets.yaml

volumes:
  - name: homepage-config
    configMap:
      name: homepage-config