apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  namespace: homepage
data:              
  kubernetes.yaml: |
    mode: cluster
    
  widgets.yaml: |
  - kubernetes:
      cluster:
        show: true
        cpu: true
        memory: true
        label: "Cluster Overview"
      nodes:
        show: true
        cpu: true
        memory: true
        showLabel: true